*{
    padding: 0;
    margin: 0;
}

.main{
    margin: 100px;
}

.block{
    display: flex;
}

.val{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    color: black;
}